@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

body {
	margin: 0;
	min-width: 1480px;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
}

.thin_text {
	font-weight: 300;
}

.container {
	width: 1480px;
	margin: 0 auto;
}

h1 {
	letter-spacing: 3px;
}

h2 {
	margin-top: 0;
	margin-bottom: 5px;
	font-weight: 700;
}

.row {
	padding-top: 40px;
}

.nomargin {
	margin: 0;
}

/* HOME BLOCK */

.row_home {
	min-height: 800px;
	color: #FFF;
	background-color: #1E3348;
	background-image: url(../imgs/home-bg.jpg);
	border-bottom: solid 5px #4CCBFF;
}

.logo {
	margin-left: 10%;
	margin-top: 15px;
	width: 10%;	
}

nav {
	height: 100px;	
	background-color: #142333;
	-moz-opacity: 0.8;
	filter: alpha(opacity=80);
	opacity: 0.8;
}

.navigation {
	font-family: 'Droid Sans', sans-serif;
	margin-left: 20%;
    color: #FFF;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    top: 25px;
}
.menu {
	list-style: outside none none;
	padding-left: 0;
	
}

.menu a, .menu a:visited, .menu a:hover, .menu a:active, .menu a:focus {
	text-decoration: none;
}

.menu_item {
	display: inline-block;
	margin-right: 20px;
	padding-top: 37px;
	margin-top: -37px;
	margin-bottom: 0;
	color: #FFF;
}

.menu_item:hover,
.menu_item:active,
.menu_item:focus,
.menu_item_active {
	color: #4BCAFF;
	border-top: solid 2px #4BCAFF;
}

.home_main {
	position: absolute;
	top: 200px;
	height: 600px;
	width: 1480px;
}

.home_main_pic {	
	width: 40.6%;
	display: inline-block;
}

#hand_phone_img {
	width: 100%;
}

.home_main_conent {
	display: inline-block;	
	padding-left: 40px;
	padding-right: 10%;
	position: absolute;
	top: 125px;
}

.home_main_conent h1 {
	font-weight: normal;
}

.home_content_button {
	width: 200px;
	height:50px;
	color: #FFF;
	border: solid 1px #FFF;
	border-radius: 10px;
	background-color: transparent;
	text-transform: uppercase;
	margin-top: 30px;
	margin-right: 50px;
	cursor: pointer;
}

.home_main_content_mob_buttons {
	margin-top: 50px;	
}

.home_main_content_buttons_form{
	display: inline-block;
}

.home_content_round_btn {
	width: 60px;
	height:60px;
	color: #FFF;	
    padding-top: 1px;
    padding-left: 8px;
	border: solid 1px transparent;
	border-radius: 30px;
	background-color: #17191E;	
	margin-left: 20px;
	cursor: pointer;	
	background-position: 50%, 50%;
	background-repeat: no-repeat;
}

.home_content_round_btn_apple {
	background-image: url(../imgs/apple.png);
}

.home_content_round_btn_apple:hover,
.home_content_round_btn_apple:active,
.home_content_round_btn_apple:focus,
.home_content_round_active_btn {
	background-image: url(../imgs/apple_blue.png);
}

.home_content_round_btn_android {
	background-image: url(../imgs/android.png);
}

.home_content_round_btn_android:hover,
.home_content_round_btn_android:focus,
.home_content_round_btn_android:active {
	background-image: url(../imgs/android_blue.png);
}

.home_right_left {
	position: absolute;
	width: 1480px;
	top: 30%;	
}

.home_content_round_btn_left {
	position: absolute;
	top: 0;
	left: 55px;
	background-color: #233A4E;
	padding-top: 0;
    padding-left: 6px;
}

.home_content_round_btn_right {
	position: absolute;
	top:0;
	right: 75px;
	background-color: #233A4E;
	padding-top: 0;
    padding-left: 6px;
}

.home_controls {
	position: absolute;
	left: 690px;
	bottom: 40px;
}

.home_control {
	display: inline-block;
	width: 20px;
	height:20px;
	color: transparent;	    
	border: solid 1px #FFF;
	border-radius: 10px;
	background-color: transparent;	
	cursor: pointer;
	margin-left: 10px;
}

.home_content_round_btn_left:hover,
.home_content_round_btn_left:active,
.home_content_round_btn_left:focus,
.home_content_round_btn_right:hover,
.home_content_round_btn_right:active,
.home_content_round_btn_right:focus,
.home_control:active,
.home_content_button:hover,
.home_content_button:active,
.home_content_button:focus,
.home_content_button_active,
.home_content_round_btn_right_active,
.home_control_active {
	background-color: #4BCAFF;
	border-color: #3FA8D7;
}


/* FEATURES BLOCK */

.row_features {
	min-height: 300px;
	background-color: #F9F9F9;
	text-align: center;
	padding-bottom: 50px;
}

.features_head {
	text-transform: lowercase;
	margin-left: auto;
	margin-right: auto;
}

.features_content {
	margin: 50px 50px 0 50px;
}

.feature {
	display: inline-block;
	width: 290px;
	padding: 0 20px;
}

.feature h4 {
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 1px;
}

.feature p {
	padding: 0 10px;
	font-size: 80%;
}

.feature_icon {
	width: 160px;
	height: 160px;
	border: solid 1px #4BCAFF;
	border-radius: 80px;
	margin: 0 auto;
	background-color: #4BCAFF;	
	background-position: 50%, 50%;
	background-repeat: no-repeat;
	cursor: pointer;
}

.feature_icon_layout {
	background-image: url(../imgs/layout.png);
}

.feature_icon_design {
	background-image: url(../imgs/design.png);
}

.feature_icon_multi {
	background-image: url(../imgs/multipurpose.png);
}

.feature_icon_customize {
	background-image: url(../imgs/customize.png);
}

.feature_changable {
	width: 190px;
	padding: 0 auto;
	margin: 0 auto;
}

.feature_changable:hover .feature_icon,
.feature_changable:active .feature_icon,
.feature_changable:focus .feature_icon {
	background-color: #404042;
	border-color: #404042;
}

.feature_changable:hover .change_color,
.feature_changable:active .change_color,
.feature_changable:focus .change_color {
	color: #4BCAFF;
}

.feature_active .feature_icon {
	background-color: #404042;
	border-color: #404042;
}

.feature_active .change_color {
	color: #4BCAFF;	
}


/* GALLERY BLOCK */
.row_gallery {
	min-height: 350px;
	text-align: center;	
	background-color: #FFF;	
}

.gallery_head {
	text-transform: lowercase;
	margin-left: auto;
	margin-right: auto;
}

.gallery_content {
	margin: 60px 50px 120px 50px;
}

.thumb {
	position: relative;
	border-radius: 10px;
	overflow: hidden;
}

.thumb img {
	width: 290px;
	height: 220px;
	margin-bottom: -3px;
}

.thumb_capture {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	background-color: #4d4d4f;
	-moz-opacity: 0.6;
	filter: alpha(opacity=60);
	opacity: 0.6;
	color: #4BCAFF;
}

.thumb_capture p {
	text-transform: uppercase;
	font-weight: 900;
}








/* VIDEO BLOCK */

.row_video {
	height: 550px;
	text-align: center;
	color: #FFF;
	background-color: #72b3cc;
	background-image: url(../imgs/video_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.video_icon_row {
	margin-top: 170px;
}

.play_btn {
	width: 100px;
	height: 60px;
	border: solid 1px #FFF;
	border-radius: 7px;
	background-color: transparent;
	background-image: url(../imgs/play_btn.png);
	background-position: 54%, 50%;
	background-repeat: no-repeat;
	cursor: pointer;
	margin: 0 auto;
}

.play_btn:hover,
.play_btn:focus {
	background-color: #4BCAFF;
	border-color: #4BCAFF;
}

.video_text {
	width: 700px;
	margin: 0 auto;
}

.video_text p {
	text-align: left;
	padding: 0 70px;
}

