@import url(https://fonts.googleapis.com/css?family=Lato);

body, div, h1, p, img {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

.gallery_img_thumb_hover_filter {
	-webkit-transition: all 0.4s linear;
     -moz-transition: all 0.4s linear;
     -o-transition: all 0.4s linear;
     transition: all 0.4s linear;
}

.gallery_img_thumb_btns {
	-webkit-transition: all 0.3s ease-out 0.3s;
     -moz-transition: all 0.3s ease-out 0.3s;
     -o-transition: all 0.3s ease-out 0.3s;
     transition: all 0.3s ease-out 0.3s;
}



/* GALLERY */

.row_gallery {
	background-color: #f6f9f9;
	padding-top: 60px;
	padding-bottom: 100px;
	text-align: center;
}


.gallery_head h1 {
	color: #2d3950;
	font-size: 2.563em;
}

.gallery_head p {
	color: #909090;
	font-size: 0.938em;
	margin-top: 22px;
}

.gallery_body {	
	max-width: 1180px;
	margin: 75px auto 0 auto;
	position: relative;
}

.gallery_img_thumb {
	display: inline-block;
	position: relative;
	width: 360px;
	border: none;
	padding: 15px;
	box-sizing: content-box;
	cursor: pointer;
	overflow: hidden;
}

.gallery_img_thumb_content img {
	width: 100%;
}

.gallery_img_thumb_hover_filter {
	position: absolute;
	top: 15px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	background-color: rgba(37, 166, 247, 0.9);
	transform: scale(0.00001, 0.00001);	
}

.gallery_img_thumb_btns {
	position: absolute;
	top: 119px;
	left: -95px;	
}

.gallery_img_thumb_btns_zoom_btn {
	background: url("../imgs/zoom_icon.png") no-repeat;
}

.gallery_img_thumb_btns_link_btn {
	background: url("../imgs/link_icon.png") no-repeat;
}

.gallery_img_thumb_btns_zoom_btn,
.gallery_img_thumb_btns_link_btn {
	display: inline-block;
	border: solid 1px #FFF;
	background-color: rgba(37, 166, 247, 0);
	background-position: 50% 50%;
	border-radius: 2px;
	width: 42px;
	height: 42px;
	margin: 5px;
}

.gallery_img_thumb:hover .gallery_img_thumb_hover_filter {
	transform: scale(1, 1);	
}

.gallery_img_thumb:hover .gallery_img_thumb_btns {
	transform: translate(238px, 0);	
}

.gallery_img_thumb_btns_zoom_btn:hover,
.gallery_img_thumb_btns_link_btn:hover {
	background-color: #25a6f7;
} 

.gallery_img_prview_filter {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255,255,255,0.9);
	display: none;
}

.gallery_img_prview_img {
	border-style: solid;
	border-width: 3px;
	border-color: #999999;
	background-color: #f4f4f4;	
	position: fixed;
	top: 200px;
	margin: 0 auto;
	display: none;
}

.gallery_img_prview_img_active {
	display: block;
	margin: 15px;
}

.gallery_img_prview_img img {
	width: 100%;
	min-width: 400px;
	max-width: 1140px;
	margin-bottom: -3px;
}

.gallery_img_prview_close_btn {
	width: 40px;
	height: 40px;
	background: #25A4F4 url("../imgs/close_icon.png") no-repeat;
	background-position: 50% 50%;
	cursor: pointer;
	position: absolute;
	top: -23px;
	right: 23px;
}

.gallery_img_prview_close_btn:hover {
	background-color: #F74B21;
}


